<style>
.counter {
  cursor: pointer;
  display: block;
  float: right;
  font-size: 75px;
  line-height: 85px;
  padding: 17px 40px 17px 40px;
  text-align: center;
  width: 220px;
  color:#1794d0;
  #margin-right: 30px;
  margin-top: 40%;
  font-family: OpenSans,sans-serif,arial,verdana;
  font-weight: 400;
  background:  no-repeat scroll 18px 23px #fff;
  #position: absolute;
}

.button {
cursor: pointer;
display: block;
position: relative;
margin: 50px;
float: left;
font-size: 40px;
line-height: 40px;
padding: 5px 5px 5px 5px;
text-align: center;
width: 50px;
color: #fff;
font-family: OpenSans,sans-serif,arial,verdana;
font-weight: 400;
background:  no-repeat scroll, #6fae1c;
#margin-top: 35%;
}

.start-btn {
  cursor: pointer;
  display: block;
  #position: relative;
  margin: 20px 0 20px 0;
  #float: right;
  #left: 35%;
  #right: 50%;
  font-size: 22px;
  line-height: 40px;
  padding: 7px 15px 7px 15px;
  text-align: center;
  width: 100px;
  color: #fff;
  font-family: OpenSans,sans-serif,arial,verdana;
  font-weight: 400;
  background:  no-repeat scroll, #4a4a4a;
  #display: inline;
  border-radius: 2px 2px 2px 2px;
}

.current-box {
  position: absolute:
  text-align: center;
  margin-top: 20px;
  #right: 50%;
  #left: 50%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.05);
  -moz-box-shadow: 0 2px 4px rgba(0,0,0,.05);
  box-shadow: 0 2px 4px rgba(0,0,0,.05);
  background-color: #fff;
  border-color: #ccc;
  border-style: solid;
  border-width: 1px;
  vertical-align: top;
  z-index: 1;
  height: 300px;
  width: 80%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.buttons-group {
  float: right;
  margin-right: -10%;
  margin-top: 20px;
}

.current-details {
  font-size: 25px;
  font-weight: 500;
  float: left;
  width: 80%;
  height: 100%;

} 

.ticker {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: OpenSans,sans-serif,arial,verdana;
  font-weight: 500;
  font-size: 75px;
  margin-top: 40px;
  color: #d13d1c;
}
</style>
  <div class="button"> +  </div>
<br>
 <div class="counter"> #45 <span style="font-size: 30px;"> nailed so far... </span></div>
 
 <div class="current-box">
   <div class="current-details">
    <br> #12 <br>
     <div style="text-align: center;">
       <div class="ticker">
         00 : 00 : 00
       </div>
     </div>  
   </div>
   <div class="buttons-group">
     <div class="start-btn"> Start  </div>
     <div class="start-btn"> Pause </div>
     <div class="start-btn"> Nailed it </div>
   </div>  
 </div>  

  <div class="container">
   <ul>
    <lh>head</lh>
    <lh>head</lh>
    <lh>head</lh>
    <lh>head</lh>
    <lh>head</lh>
    <lh>head</lh>
    <li> # </li>
    <li> # </li>
    <li> # </li>
   </ul>
  </div>
